.location-search {
    position: sticky;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    height: 5vh;
    background-color: white;
    top:0px;
    z-index: 9;
}
.location-search::after{
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.location-search input {
    border: 1px solid #b7b6b3;;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.2em;
    padding: 10px;
    width: 350px;
    vertical-align: middle;
}

.location-search input::-webkit-calendar-picker-indicator {
    display: none;
}

.location-search  .btnSearch {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 0px solid #1c619c;
    border-radius: 8px;
    background: #35b6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#35b6ff), to(#1c619c));
    background: -moz-linear-gradient(top, #35b6ff, #1c619c);
    background: linear-gradient(to bottom, #35b6ff, #1c619c);
    font: normal normal bold 12px arial;
    color: #ffffff;
    text-decoration: none;
}
.btnSearch:hover,
.btnSearch:focus {
    border: 0px solid #2172b8;
    background: #40daff;
    background: -webkit-gradient(linear, left top, left bottom, from(#40daff), to(#2274bb));
    background: -moz-linear-gradient(top, #40daff, #2274bb);
    background: linear-gradient(to bottom, #40daff, #2274bb);
    color: #ffffff;
    text-decoration: none;
}
.btnSearch:active {
    background: #1c619c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c619c), to(#1c619c));
    background: -moz-linear-gradient(top, #1c619c, #1c619c);
    background: linear-gradient(to bottom, #1c619c, #1c619c);
}
